---
import Layout from "../layouts/layout.astro";
import '../styles/styles.css';
---

<Layout title="Home">	  
	<header class="w-full h-full bg-blue-400" aria-label="Site Header">
		<h1>Header</h1>
	</header>
</Layout>