---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UI Interface for a guillotine machine.">
    <meta name="keywords" content="relevant, keywords, separated, by, commas">
    <meta name="author" content="Keanin Cupido">
    <meta name="robots" content="index, follow">
    <title>CT Aries Guillotine - {title}</title>
  
    <!-- Favicon -->
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
</head>
  